*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  line-height: 1.2;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: grid;
  grid-template-columns: 711px 399px;
  justify-items: stretch;
  align-items: end;
  gap: 30px;
  padding: 133px 30px;
}

.result__video-container {
  position: relative;
  margin-bottom: 16px;
  inline-size: 100%;
}

.result__video {
  background-size: cover;
  inline-size: 100%;
  block-size: 100%;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
}

.button {
  border: 1px solid #fff;
  color: inherit;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
  background-color: transparent;
  cursor: pointer;
}

.button:active {
  background-color: #545050;
}

.button:hover {
}

.button:focus {
}

.search-form__submit-button {
  padding: 6px 73px;
}

.content__details {
  inline-size: 100%;
  block-size: 100%;
}

.title {
  margin-bottom: 26px;
  font-family: 'Oswald', sans-serif;
  font-size: 75px;
  line-height: 0.94; 
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  overflow: scroll;
  block-size: 298px;
}

.content__list-item:not(:first-child) {
  margin-top: 30px;
}

.content__card-link {
  color:#fff;
  text-decoration: none;
}

.content__card-link:active {
}

.content__card-link:hover {
}

.content__card-link:focus {
}

.content__video-card {
  display: grid;
  grid-template-columns: 1fr 194px;
}

.content__video-card-title {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  text-transform: uppercase;
}

.content__video-card-description {
  line-height: 0.9;
}

.content__video-card-thumbnail {
  background-size: cover;
  inline-size: 100%;
  block-size: 100%;
}
