*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  line-height: 1.2;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: grid;
  grid-template-columns: 711px 416px;
  align-content: center;
  gap: 30px;
}

.result__video-container {
  position: relative;
  margin-block-end: 16px;
  inline-size: 100%;
}

.result__video {
  object-fit: cover;
  inline-size: 100%;
  block-size: 100%;
  margin-block-start: 62px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.search-form__fieldset {
  border: none;
}

.search-form__label {
  display: inline;
  min-block-size: fit-content;
}

.search-form__textfield {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.70);
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  border-block-start: 1px solid #fff;
  border-block-end: 1px solid #fff;
  appearance: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  margin-block-end: 5px;
}

.search-form__checkbox-list {
 display: flex;
 align-items: center;
 gap: 15px;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  vertical-align: middle;
  block-size: 19px;
  inline-size: 19px;
  background-color: transparent;
  border: 1px solid #fff;
  margin-inline-end: 5px;
  cursor: pointer;
  position: relative;
}


.search-form__checkbox + .search-form__pseudo-checkbox:before {
  content: '';
  background-color: #fff;
  inline-size: 15px;
  block-size: 15px;
  vertical-align: middle;
  left: 2;
  position: absolute;
}


.button {
  border: 1px solid #fff;
  color: inherit;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
  background-color: transparent;
  cursor: pointer;
}

.button:active {
  background-color: #545050;
}

.button:hover {
  text-decoration: underline;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: -3px;
}

.search-form__submit-button {
  padding: 6px 73px;
}

.content__details {
  inline-size: 100%;
  block-size: 100%;
}

.title {
  margin-block-end: 26px;
  font-family: 'Oswald', sans-serif;
  font-size: 75px;
  line-height: 0.94; 
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  overflow-y: scroll;
  scrollbar-width: 0;
  block-size: 298px;
}

.content__list::-webkit-scrollbar {
  inline-size: 0;
} 

.content__list-item:not(:first-child) {
  margin-block-start: 30px;
}

.content__card-link {
  display: block;
  color:#fff;
  text-decoration: none;
  margin: 2px;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.content__video-card {
  display: grid;
  grid-template-columns: 1fr 194px;
}

.content__video-card-title {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  text-transform: uppercase;
}

.content__video-card-description {
  line-height: 0.9;
}

.content__video-card-thumbnail {
  object-fit: cover;
  inline-size: 100%;
  block-size: 100%;
}

.more-button {
  inline-size: 100%;
  margin-block-start: 30px;
  padding: 6px 0;
}
